<%# <div class="side">%>
    <center>
    <h2>About Me</h2>
    <hr width="50%">
    <br>
    <div class="avatar" alt="avatar">
    <%= image_tag('avatar/ds.png') %>
    <br>

    </div>
    <p>Some text about me in culpa qui officia deserunt mollit anim..</p>
    </center>
    <br>
    <h3>More Text</h3>
    <p>Lorem ipsum dolor sit ame.</p>
    <div class="fakeimg" style="height:60px;">Image</div><br>
    <div class="fakeimg" style="height:60px;">Image</div><br>
    <div class="fakeimg" style="height:60px;">Image</div>
<%#  </div> %>