	<!DOCTYPE html>
	<html>
	<head>
		<style>
		.pic-about img{
			overflow: hidden;
			display: block;
			height: 40px;
			width: 40px;
			background-size: cover;
			border: 2px solid rgba(0,0,0,0.5);
		}
	</style>
	</head>
	
	<body>

	<div class="header-title">
	  <h1>About</h1>
	  <p>An <b>about</b> of me.</p>
	</div>
	
    <h5>Photo of me:</h5>
    <div class="fakeimg" style="height:200px;">
    	<div class="pic_about">
    		
    	</div>
    Image</div>
    <p>Some text about me in culpa qui officia deserunt mollit anim..</p>

	</body>
	</html>
	