<div class="header-title">
  <h1>MyArticles</h1>
  <p>An <b>articles</b> created by me.</p>
</div>

<div class="row">

  <div class="main">
    <h2>Artikel</h2>    
  </div>

 <div class="side">
	<%= render 'more' %>
 </div>

</div>

