<div class="header-title">
  <h1>MyGallery</h1>
  <p>The <b>galleries</b> created by me.</p>
</div>
<div class="row">


 <div class="side">
	<%= render 'pic' %>
 </div>

  <div class="main">
    <h2>GALLERY</h2>    
  </div>

</div>

